.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
  color: #fff;
  padding: 5px;
  display: flex;
  align-items: center;
  font-family: "Orbit";

  &__title {
    flex: 0 0 60%; // flex-grow는 0, flex-shrink는 0, flex-basis는 60%
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Black Han Sans";

    &-kor {
      padding-top: 3px;
      font-size: 20px;
      cursor: pointer;
    }
    &-eng {
      padding-top: 5px;
      font-size: 18px;
      cursor: pointer;
    }
  }

  &__spacer {
    flex: 1; /* 전체 공간의 1/3를 차지 */
  }

  &__icon-first {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    width: 30%;
    flex: 1;
  }

  &__icon-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 100%;
    width: 30%;

    .icon-items {
      flex: 1; /* 아이콘 아이템들 가용 공간 균등하게 */
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      img {
        height: 50%;
      }
    }
  }
}
