.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex; /* flex를 이용하여 자식 요소를 중앙 정렬 */
  align-items: center;
  justify-content: center;
  
  .content {
    padding: 15px;
    background-color: #fff;
    color: black;
    position: relative;
    text-align: center;

    .close--btn {
      position: absolute;
      top: 10px;
      right: 15px;
      background: none;
      border: none;
      font-size: 1.5em;
      cursor: pointer;
    }
    .example {
      &__header {
        font-family: "Black Han Sans";
        font-size: 25px;
        text-align: center;
      }
      &__explain {
        font-family: "Orbit";
      }

      .example__sub-header {
        font-size: 17px;
        padding-top: 20px;
        padding-bottom: 5px;
        font-weight: 600;
        font-family: "Orbit";
      }
      .example__group {
        flex-direction: row;
        .green {
          background-color: #6aaa64;
          border: 2px solid #6aaa64;
          animation: rotate-360 1s ease;
        }
        .yellow {
          background-color: #dfca6c;
          border: 2px solid #dfca6c;
          animation: rotate-360 1s ease;
        }
        .gray {
          background-color: #94a3b8;
          border: 2px solid #94a3b8;
          animation: rotate-360 1s ease;
        }
        .example__div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #d3d6da;
            border-radius: 3px;
            padding: 5px;
            margin: 3px;
            width: 51px;
            height: 51px;
            font-size: 22px;
            font-family: sans-serif;
            font-weight: 700;
          }
          .letter-example {
            border: 2px solid black;
            animation: rotate-360 1s ease;
          }
        }
        .example__text-explain {
          padding: 5px;
        }
      }
    }
  }
  body.dark-mode & {
    .content {
      color: #d0d0d0;
      background-color: #333;
      .example {
        .example__group {
          .green,
          .yellow,
          .gray {
            color: white;
            box-shadow: 0px 0px 7px white;
          }
          .example__div {
            .letter-example {
              border: 3px solid white;
              box-shadow: 0px 0px 8px white;
            }
          }
        }
      }
    }
  }
  body.color-mode & {
    .example__group {
      .example__div {
        .green {
          background-color: #f5793a;
          border: 2px solid #f5793a;
        }
        .yellow {
          background-color: #85c0f9;
          border: 2px solid #85c0f9;
        }
      }
    }
  }
}

@keyframes start-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate-360 {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}
