.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex; /* flex로 자식 요소를 중앙 정렬 */
  align-items: center;
  justify-content: center;

  .info__modal {
    padding: 15px;
    background-color: #fff;
    color: black;
    position: relative;
    text-align: center;

    .close--btn {
      position: absolute;
      top: 10px;
      right: 19px;
      background: none;
      border: none;
      font-size: 35px;
      cursor: pointer;
    }
    .example {
      width: 360px;
      min-height: 550px;
      &__header {
        font-family: "Black Han Sans";
        font-size: 25px;
        text-align: center;
      }
      &__explain {
        font-family: "Orbit";
      }
      &__with {
        padding-top: 10px;
        padding-bottom: 20px;
      }

      &__answer {
        padding-top: 17px;
        padding-bottom: 17px;
        // padding: 10px;
        position: relative;
        min-height: 190px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
        border: 3px solid #d3d6da;
        border-radius: 3px;
        margin: 10px;
        margin-top: 25px;
        margin-bottom: 25px;

        .answerheader {
          display: flex;
          margin-right: 5px;
          align-items: baseline;
          p,
          .hanja {
            display: inline-block;
            margin-right: 5px;
          }

          .hanja {
            font-size: 20px;
          }
        }
        .answermeaning {
          font-size: 17px;
          padding: 10px;
          font-family: "Orbit";
          min-height: 92px;
        }
      }

      .example__sub-header {
        font-size: 17px;
        padding-top: 9px;
        padding-bottom: 3px;
        font-weight: 700;
        font-family: "Orbit";
      }
      .example__group {
        flex-direction: row;
        .green {
          background-color: #6aaa64;
          border: 2px solid #6aaa64;
        }
        .yellow {
          background-color: #dfca6c;
          border: 2px solid #dfca6c;
        }
        .gray {
          background-color: #94a3b8;
          border: 2px solid #94a3b8;
        }
        .btn--active {
          animation: rotate-360 1s ease;
        }
        .example__div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #d3d6da;
            border-radius: 3px;
            padding: 5px;
            margin: 3px;
            width: 51px;
            height: 51px;
            font-size: 22px;
            font-family: sans-serif;
            font-weight: 700;
          }
          .letter-example {
            border: 2px solid black;
            animation: rotate-360 1s ease;
          }
        }
        .example__text-explain {
          padding: 2px;
          span {
            background-color: #94a3b8;
            color: #ffffff;
            font-weight: bold;
            border-radius: 4px;
            padding: 0px 4px 3px 4px;
            // display: inline-block;
          }
        }
      }
    }
    .navigation {
      button {
        background-color: #94a3b8;
        color: white;
        border: none;
        padding: 10px 10px;
        margin: 3px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      button:hover {
        background-color: #4d5058;
      }
    }
  }
  body.dark-mode & {
    .info__modal {
      color: #d0d0d0;
      background-color: #333;
      .example {
        .example__group {
          .btn--active {
            color: white;
            box-shadow: 0px 0px 7px white;
          }
          .example__div {
            .letter-example {
              border: 3px solid white;
              box-shadow: 0px 0px 8px white;
            }
          }
        }
      }
    }
  }
  body.color-mode & {
    .example__group {
      .example__div {
        .green {
          background-color: #f5793a;
          border: 2px solid #f5793a;
        }
        .yellow {
          background-color: #85c0f9;
          border: 2px solid #85c0f9;
        }
      }
    }
  }
}

@keyframes start-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate-360 {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

@media (max-width: 359px) {
  .overlay {
    .info__modal {
      padding-right: 0px;
      .example {
        width: 100%;
        height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background: #d3d6da;
        }

        &::-webkit-scrollbar-thumb {
          background: #94a3b8;

          &:hover {
            background: #4d5058;
          }
        }
      }
    }
  }
}
