.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;

  .Content {
    padding: 20px;
    background-color: #fff;
    position: relative;
    width: 350px;
    min-height: 330px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .content_txt {
      padding-top: 55px;
      padding-bottom: 15px;
      font-family: "Orbit";
      font-weight: 900;
      text-align: center;
    }
    .CloseButton {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 1.5em;
      cursor: pointer;
    }
    .AnswerWord {
      margin-bottom: 10px;
      color: black;
      font-size: 25px;
      p {
        display: inline-block;
        margin-right: 5px;
      }
      .Original {
        font-size: 20px;
      }
    }

    .AnswerMeaning {
      padding: 10px;
      font-family: "Orbit";
      min-height: 92px;
    }
    .more_active {
      cursor: pointer;
    }

    /* 페이지 번호 버튼 스타일 */
    .pagination-btn {
      padding: 5px 10px;
      margin: 5px;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      button {
        background-color: #94a3b8;
      }
      button:hover {
        background-color: #adb9c9;
      }
      button.active {
        background-color: #596275;
      }
    }

    .Buttons {
      display: flex;
      justify-content: center;
      gap: 10px;

      .HomeButton {
        padding: 10px 20px;
        background-color: #94a3b8;
        color: white;
        border: none;
        border-radius: 20px;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease; /* 부드러운 색상 전환 효과 */

        &:hover {
          background-color: #4d5058;
        }
      }
    }
  }
  body.dark-mode & {
    .Content {
      color: #c7c7c7;
      background-color: #333;
    }
    .AnswerWord {
      color: #c7c7c7;
    }
  }
}
