.sidebar {
  &__panel {
    width: 85%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    color: black;
    z-index: 1000;
    animation: sidebar__fall-in 0.7s ease forwards;
  }

  &__content {
    padding: 20px;
    margin-top: 35px;
  }

  &__title {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
  }

  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  &__option-title {
    font-weight: 700;
  }

  &__option a {
    text-decoration: underline;
    color: black;

    &:hover {
      font-weight: 700;
      text-decoration-thickness: 2px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
  }

  &__overlay {
    width: 15%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #333333;
    z-index: 1000;
    animation: sidebar__slide-in 0.7s ease forwards;
  }

  hr {
    margin-top: 12px;
    margin-bottom: 12px;
    color: black;
    background-color: #333333;
  }

  body.dark-mode & {
    .sidebar__panel {
      color: #c7c7c7;
      background-color: #333333;
    }

    .sidebar__content a {
      color: #c7c7c7;
    }

    .sidebar__overlay {
      background-color: #c7c7c7;
    }
  }

  &--closed {
    .sidebar__panel {
      animation: sidebar__fall-out 0.5s ease forwards;
    }
    .sidebar__overlay {
      animation: sidebar__slide-out 0.5s ease forwards;
    }
  }

  &--hidden {
    display: none;
  }
}

@keyframes sidebar__slide-in {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 0.9;
  }
}

@keyframes sidebar__slide-out {
  0% {
    width: 15%;
    opacity: 0.9;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes sidebar__fall-in {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes sidebar__fall-out {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
