.homepage {
  margin: 70px auto 0;
  font-family: "Orbit";
  width: 100%;
  max-width: 1200px;
  padding: 0 16px;

  &__content {
    text-align: center;
  }

  &__icon {
    margin-top: 50px;
  }

  &__text {
    font-size: 18px;
    margin: 10px;

    &--start {
      font-size: 20px;
      font-weight: 800;
      margin: 15px;
    }

    &--level {
      font-size: 17px;
      font-weight: 700;
      margin: 15px;
    }

    &--date {
      font-weight: bold;
      padding-top: 25px;
    }
  }

  &__button {
    font-family: Arial;
    font-size: 18px;
    color: black;
    padding: 10px 17px;
    border-radius: 12px;
    border: 2px solid black;
    margin-bottom: 20px;
    margin-right: 5px;
    transition: background 0.3s, color 0.3s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: black;
      color: white;
    }
  }

  body.dark-mode & {
    color: #e0e0e0;

    &__text {
      color: #cccccc;
    }

    &__button {
      background-color: #333;
      color: #fff;
      border-color: #444;

      &:hover {
        background-color: #fff;
        color: #000;
        border-color: #333;
      }
    }
  }
}
