.WorldKorPage {
  margin-top: 70px;

  .AnswerBoxes {
    padding-bottom: 15px;
    width: 100%;
    .AnswerBox {
      display: flex;
      justify-content: center;
      text-align: center;
      .green {
        background-color: #6aaa64;
        border: 2px solid #6aaa64;
      }
      .yellow {
        background-color: #dfca6c;
        border: 2px solid #dfca6c;
      }
      .gray {
        background-color: #94a3b8;
        border: 2px solid #94a3b8;
      }
      .animate-color {
        animation: rotate-360 1.5s ease-in-out !important;
      }
      .animate-pop {
        animation: answer-up-down 0.5s ease;
      }
    }

    .AnswerBox div {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #d3d6da;
      border-radius: 3px;
      padding: 5px;
      margin: 3px;
      width: 51px;
      height: 51px;
      font-size: 22px;
      font-weight: 700;
      animation: start-pop 0.3s ease;
    }
  }

  .keyBoard {
    .raw1,
    .raw2,
    .raw3 {
      display: flex;
      justify-content: center;
      padding-left: 8px;
      padding-right: 8px;
      .green {
        background-color: #6aaa64;
        border: 2px solid #6aaa64;
      }
      .yellow {
        background-color: #dfca6c;
        border: 2px solid #dfca6c;
      }
      .gray {
        background-color: #94a3b8;
        border: 2px solid #94a3b8;
      }
    }
    .raw2 {
      padding-left: 5%;
      padding-right: 5%;
    }

    .raw1 button,
    .raw2 button,
    .raw3 button {
      color: black;
      font-size: 18px;
      font-weight: bold;
      border: 0.5px solid #d3d6da;
      margin: 2px;
      padding: 8px;
      width: 100%;
      max-width: 55px;
      // min-height: 55px;
      aspect-ratio: 1 / 1; /* 1:1 비율 */
      // min-width: 35px;
      // min-height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
    }
    .raw3 .submit_btn{
      min-width: 60px;
    }
  }

  body.color-mode & {
    .AnswerBoxes {
      .AnswerBox {
        .green {
          background-color: #f5793a;
          border: 2px solid #f5793a;
        }
        .yellow {
          background-color: #85c0f9;
          border: 2px solid #85c0f9;
        }
      }
    }
    .keyBoard {
      .raw {
        .green {
          background-color: #f5793a;
          border: 2px solid #f5793a;
        }
        .yellow {
          background-color: #85c0f9;
          border: 2px solid #85c0f9;
        }
      }
    }
  }
}

@keyframes start-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes answer-up-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3.5px);
  }
}

@keyframes rotate-360 {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

/* 화면 너비가 465px 이하일 때 */
@media (max-width: 465px) {
  .WorldKorPage {
    .keyBoard {
      .raw1 button,
      .raw2 button{
        font-size: 15px;
      }
      .raw3 button{
        font-size: 15px;
        aspect-ratio: auto;
      }
      .raw3 .submit_btn {
        min-width: 50px;
      }
    }
  }
}

/* 화면 너비가 360px 이하일 때 */
@media (max-width: 360px) {
  .WorldKorPage {
    .keyBoard {
      .raw1 button,
      .raw2 button,
      .raw3 button {
        font-size: 15px;
        margin: 1.5px;
        padding: 6px;
        max-width: 45px;
        aspect-ratio: auto;
      }
      .submit_btn {
        min-width: 40px;
      }
    }
  }
}
