// global.scss

// import fonts
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: #333;
  background-color: #fff;

  &.dark-mode {
    color: #fff;
    background-color: #333;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
