.HomePage{
  .content {
    text-align: center;
    .header{
      margin-top: 45px;
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 20px;
    }
    .cont_txt{
      font-size: 18px;
    }
    .play_button{
      font-size: 18px;
      color: black;
      padding: 10px;
      border-color: black;
      border-radius: 6%;
      border: 1px solid #000;
      margin-bottom: 30px;
    }
    .alink_button{
      margin: 10px;
    }
    .date{
      font-weight: bold;
      padding-top: 30px;
    }
  }
}