.WorldKorPage{
  margin-top: 70px;
  width: 100%;

  .AnswerBoxes{
    padding-bottom: 15px;

    .AnswerBox {
      display: flex;
      justify-content: center;
      text-align: center;
      .green {
        background-color: #6aaa64;
      }
      .yellow {
        background-color: #dfca6c;
      }
      .gray {
        background-color: #94a3b8;
      }
    }
    .AnswerBox div{
      border: 0.5px solid #d3d6da;
      border-radius: 3px;
      padding: 5px;
      margin: 3px;
      width: 36px;
      height: 36px;
      line-height: 36px;
    }
  }
  
  .keyBoard {
    .raw{
      display: flex;
      justify-content: center;
      .green {
        background-color: #6aaa64;
      }
      .yellow {
        background-color: #dfca6c;
      }
      .gray {
        background-color: #94a3b8;
      }
    }
    .raw Button{
      color: black;
      font-weight: bold;
      // font-size: 15px;
      border: 0.5px solid #d3d6da;
      margin: 2px;
      // padding: 5px;
      // max-width: 20px;
      max-height: 35px;
      min-width: 30px;
      // min-height: 30px;
    }
  }
}