.WorldKorPage{
  .AnswerBox {
    display: flex;
    justify-content: center;
  }
  .AnswerBox div{
    border: 1px solid grey;
    padding: 5px;
    margin: 3px;
    width: 30px;
    height: 30px;
  }
  .keyBoard {

      justify-content: center;

    .raw1 Button{
      border: 1px solid grey;
      padding: 5px;
      margin: 3px;
      width: 30px;
      height: 30px;
    }
    .raw2{
      justify-content: center;
    }
    .raw2 Button{
      border: 1px solid grey;
      padding: 5px;
      margin: 3px;
      width: 30px;
      height: 30px;
    }
    .raw3{
      justify-content: center;
    }
    .raw3 Button{
      border: 1px solid grey;
      padding: 5px;
      margin: 3px;
      width: 30px;
      height: 30px;
    }
  }
}